app-name: test-app
app-manifest: test-app/manifest.yml

app-ops-promotion-repo: http://<git-repo>

artifactory-username: username
artifactory-password: password
artifactory-enpoint: http://<artifactory>
artifactory-candidates-repo: /test-app/candidates
artifactory-candidates-regex: test-app-(?<version>.*)
artifactory-releases-repo: /test-app/releases

cf-staging-username: cf-staging-username
cf-staging-password: cf-staging-password
cf-staging-organization: cf-staging-org
cf-staging-space: space
cf-staging-api: https://<cf-staging-api>
cf-staging-app-suffix: suffix
cf-staging-app-domain: domain

cf-production-username: cf-staging-username
cf-production-password: cf-staging-password
cf-production-organization: cf-staging-org
cf-production-space: space
cf-production-api: https://<cf-staging-api>
cf-production-app-suffix: suffix
cf-production-app-domain: domain
